*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: 1.125rem;
    line-height: 1.5;
}
.header{
    background-color: #fff;
    position:fixed;
    width: 100%;
    box-shadow: 0 0 15px rgb(219, 217, 217);
  
}
.header-li{
    list-style: none;
    display: flex;
    justify-content: center;
}
.li-item{
    padding: 5% 10%;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    color: rgb(129, 126, 126);
}
.li-item:hover{
    color: rgb(56, 54, 54);
}
.li-img{
    width: 10%;
}
.inline-a{
    text-decoration: none;
    font-weight: 600;
    color: #0f8de0;
}
.head-intro{
    text-align: center;
    padding: 14% 4% 4% 4%;
}
.head-intro h1{
    color: rgb(99, 96, 96);
    font-size: 2.2rem;
}
.head-intro h2{
    padding: 3%;
    font-weight: lighter;
    font-size: 1.8rem;
    color: rgb(129, 126, 126);
}
.banner{
    width: 70%;
}
.main-div{
    display: flex;
    padding: 3% 0;
    width: 82%;
    margin: 0 auto;
    line-height: 1.5;
}
.div3{
    margin: 0 3.5%;
    color: rgb(129, 126, 126);
}
.div3 h1{
    font-weight: lighter;
    margin-bottom: 3%;
}
.div4{
    text-align: center;
    color: rgb(129, 126, 126);
    margin: 4%;
}
.div4 h2{
    padding: 2%;
    font-weight: lighter;
    font-size: 2rem;
}
.div-img{
    display: flex;
    justify-content: center;
}
.div-img img{
    width: 15%;
    margin: 2% 6%;
}
.faq{
    width: 55%;
    margin: 0 auto;
    color: rgb(129, 126, 126);
}
.faq h2{
    padding: 3% 0;
    font-weight: lighter;
}
.faq-h1{
    text-align:center;
    padding: 2%;
    font-weight: lighter;
}
.footer{
    text-align: center;
    margin: 8% auto;
    display: flex;
    width: 50%;
    justify-content: center;
}
.footer div img{
    width: 20%;
}
.footer div{
    margin: 4%;
    display: flex;
}
.footer div h5{
    text-decoration: none;
    color: rgb(66, 65, 65);
    font-size: 1rem;
    font-weight: normal;
    padding: 1%;
}
.hide-section{
    background-color: rgba(17, 17, 17, 0.65);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}  
.hide-1{
    position: absolute;
    top: 0;
    display: none;
}
.section-1{
    /* position: fixed; */
}
.hide-cont-1{
    background-color: #fff;
    z-index: 5;
    width: 50%;
    margin: 5% auto;
    border-radius: 7px;
    padding: 2% 0;
}
.cont-head{
    display: flex;
    padding: 2%;
}  
.close{
    width: 3%;
    margin-left: auto;
    cursor: pointer;
}
.cont-head h6{
    color: #3e0350;
    font-size: 1rem;
}
.hide-cont-1 hr{
    border: .8px solid rgb(238, 238, 238);;
    color: 
}
.hide-h1{
    text-align: center;
    margin: 2%;
    font-weight: lighter;
    font-size: 1.9rem;
}
.hide-img{
    display: flex;
    text-align: center;
    justify-content: center;
}
.hide-img img{
width: 40px;
height: 40px;
object-fit: cover;
}
.hide-img a{
    margin: 5% auto;
}
.hide-p{
    background-color: #F9DFDC;
    margin: 2%;
    border-radius: 5px;
    border: 1px solid #ff1381;
    width: 85%;
    margin: 5% auto;
}
.hide-p-h5{
    background-color: #ff1381;
    padding: 2%;
    margin: 0;
   
    color: #fff;
}
.hide-p-p{
    padding: 2%;
    color: #ff1381;
}
.button{
    background-color: #0f6391;
    color: #fff;
    text-align: center;
    margin: 2%;
    border-radius: 5px;
    padding: 1%;
    cursor: pointer;
}
.button:hover{
    background-color: #094b6e;
}
.cont-left{
    display: flex;
    width: 80%;
    margin: 0 auto 2%;
    position: relative;
}
.cont-left-div-1 h2{
    padding-top: 27px;
    color: #fff;
}
.cont-left-div-1, .cont-left-div-2{
    width: 10%;
}
.cont-left-div-1{
    display: flex;
}
.cont-left-div-2{
    justify-content: flex-end;
}
.wallet {
    width: 80%;
    object-fit: cover;
}
.hide2 .close{
    width: 4%;
    border-radius: 100%;
    background-color: #fff;
    padding: 1%;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 35%;
}
.hide2{
    z-index: 5;
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    display: none;
}
.hide2-cont{
    display: flex;
}
.hide2-cont2{
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 3%;
    border-radius: 15px;
}
.click-one-cont{
    display: flex;
    margin: 0 auto;
    background-color: grey;
    border-radius: 15px;
}
.click-one{
    border-radius: 15px;
    margin: 1%;
    padding: 1% 16%;
}
.one{
    background-color: #fff;
}
.click-one:hover{
    background-color: rgb(148, 148, 148);
}
.hide2-cont2-h5{
    text-align: center;
    margin: 4% 0;
}
.app{
    display: flex;
    margin: 5%;
    justify-content: center;
}
.app-cont{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
}
.app-cont h6{
    text-align: center;
    margin: 3% auto;
}
.app-cont img{
    border-radius: 7px;
    padding: 2%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    object-fit: cover;
    border: 4px solid #ebebeb;
}
.toggler{
    display: flex;
    width: 10%;
    align-items: center;
    margin: 3% 38%;
}
.toggle{
    margin: 2%;
    background-color: rgb(160, 158, 158);
    border-radius: 100%;
    padding: 10% 20%;
    cursor: pointer;
    color: #fff;
}
#qr-code{
    align-items: center;
    text-align: center;
    margin: 2%;
}
#qr-code h5{
    font-size: .86rem;
    padding: .5%;
}
#qr-code img{
    width: 60%;
}


label, input{
    display: block;
}
#form{
    background-color: #222831;
    padding: 2%;
}
.form{
    /* text-align: center; */
}
.form h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.form i{
    font-size: 1rem;
    margin-right: 10px;
}
.form a{
    text-decoration: none;
    color: black;
}
.form ul{
    display: inline-flex;
}
.form li {
    list-style: none;
    margin-right: 20px;
}
.form li:hover{
    border-bottom: 3px solid;
}
.import{
    background-color: #fff;
    width: 50%;
    margin: 50px auto;
    padding: 5%;
    line-height: 2;
    border: 2px solid black;
}
.import p{
    font-size: .85rem;
    font-style: italic;
}
#phrase{
    display: inherit;
}
#keystore{
    display: none;
}
#privatekey{
    display: none;
    margin-top: 30px;
}
textarea{
    margin-top: 30px;
    font-size: 1.2rem;
}
input, textarea{
  padding: 2%;
  border-radius: 10px;
  border-style: none;
  border: 2px solid #cfd3ce;
  width: 100%;
}
#submit{
    background-color:#1a508b;
    padding: 2% 6%;
    color: #fff;
}
