@media (max-width: 1200px){
    p{
        font-size: .75rem;
        line-height: 1.5;
        margin: 3% 0;
    }
    .header-li{
        width: 95%;
        margin: 0 auto;
    }
    .cont-left-div-1 h2{
        padding-top: 23px;
        color: #fff;
    }
    .app-cont img{
    width: 60px;
    height: 60px;
    }
    .hide2-cont2{
        width: 80%;
    }
    .app-cont img{
        width: 120px;
        height:120px;
    }
    .faq{
        width: 90%;
    }
    .footer div img{
        width: 30%;
        padding: 3%;
    }
    .import{
        width: 80%;
    }
    
}


@media (max-width: 748px){
.header-li{
padding:2% 7%;
}
p{
    font-size: 1rem;
}
.cont-left-div-1 h2{
    padding-top: 20px;
    color: #fff;
}
.div3{
    margin: 0 2%; 
    width: 50%;
}
.main-div{
    width: 90%;
}

.footer{
    width: 90%;
}
.footer div img{
    width: 30%;
}
.footer div h5{
    font-size: 1.35rem;
}
.div-img{
padding:2%;
}
.hide2-cont2{
    width: 90%;
}
.app-cont img{
    width: 100px;
    height:100px;
}
.import{
    width: 90%;
}

}

@media (max-width: 645px){
    .li-img{
        width: 20%;
    }
    .li-item{
        padding: 5%;
        font-size: 1.2rem;
    }
    .head-intro{
        text-align: center;
        padding: 29% 4% 4% 4%;
    }
    .banner{
        width: 90%;
        margin: 4%;
    }
    .main-div, .footer{
        display: block;
    }
    .div3{
        margin: 10% 5%;
        width: 90%;
    }
    .div-img img{
        width:25%;
    }
    .footer{
        width:25%;
        margin: 60px auto;
    }
    .footer div{
        justify-content: left;
        margin: 15% 0;
    }
    .footer div img{
        width: 17%;
    }
    .footer div h5{
        font-size: 1.2rem;
        padding: 2%;
    }
    .import p{
        font-size: .75rem;
    }
}



@media (max-width: 411px){  
    .header-li{
        width: 85%;
   
    } 
    .li-item{
        font-size: .95rem;
    }
    .footer div img{
        width: 28%;
    }
    .hide-cont-1{
        width: 90%;
        margin: 5% auto;
    }
    .click-one{
        border-radius: 10px;
        margin: 1%;
        padding: 1% 10%;
    }
    .app-cont img{
    width: 50px;
    height: 50px;
    }
    .app-cont{
        margin: 10px auto;
    }
    .toggler{
    font-size: .65rem;
    }
    .hide2 .close{
        width: 6%;
        top: 30%;
        padding: 2%;
    }
    .hide-img{
        padding: 2%;
    }
    .wallet {
        width: 100%;
    }
    .hide-img img{
        margin: 10% auto;
    }
    .cont-left-div-1 h2{
        padding-top: 0px;
    }
    .form li {
        list-style: none;
        margin-right: 10px;
        font-size: .85rem;
    }

  
